sudo: false
language: java
jdk:
  - openjdk7

script: mvn clean install
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - bash .travis/environment.sh

deploy:
  provider: releases
  api_key:
    secure: buCT1P5cHi0G912dTNpMrLwbM4A5l+jg3qbjqqeKnsM6Xh5NlAmz5r5eIjZ4htJBB6XXsuNQSF6llvlYlK6Kr1EKmybFGEkO8rGkNoAdW8Xn2my3NYAVn6AbUgpO3LWkU247KVrb9zNONL2BLKCj87xhDMVJ2DfrEowAMXymaA1IhWHts04UBez5keBU01OxW7/PlThgEaUujJXyoCtvyv3pouW1N9sP9PbHPgoJeLX1yiNCINwwsXxCB5K1HplS/AtUclBMBOfnr2Zv6R2oduLBHe5061zQj24L+jHUuLdPGLBMu2lnYNhDATbZIadzgbZpEv006FjE/FPZbKGZQWlnwvqa87rfxK86Ywith6Oo5veR+w30/ZojCJHap/BqsLb4JMpZ6dGuP0Emuy8igG+XTqJZv///6OfnTdHYLQKBV++mvmZOfNoxxWd5rckOZCz2bdruquzjWDZapEoerJ7JwSrU6KeFEpsG3dFKevTSeFp90ZiBsaFCFWOAhvY4kxTToicCSoyk4DDdP1kc/sPyJjSE000jpkmESmK+F+aOAQYuw6hWcDsVStNDAfnYlVZiMFVEIWrIF0rYN1FI7ew8IX8UtM4ss41WynexuHNuT+sartlNIUDPiysmfIrM4QGTnPzYm2lyCMQlwY2veXkr+Caq72IXr+fNd4V+aOI=
  file: target/release/PvpTitles.jar
  skip_cleanup: true
  on:
    tags: true  
    
notifications:
  email: false

env:
  global:
  - ENCRYPTION_LABEL: 5795a2fbb362
  - COMMIT_AUTHOR_EMAIL: juli_sesena@hotmail.com
  - secure: mhLVIY3GEpY/+MHY3YIlozgQhyKs1fXa8fb/o4l+e4dOmBL/ys+VE+Goi1qMaiDuohNvLnSUbFatlzCfmhNdT4DGA+R3aC3SMTBt4M9WzGy890msKUg8t39x6Th6n+P0SQnmUzDqs+GijaSLEa7DEJhyB7A5YquY5lzMuU6xejE33uC8TZXBRB0LZCvpYj8TaIvWXh6xsUk7s9YYoEDAzoKNHQOQJ+8FjlAWkbkdKMv/0VQ+yFyBXRfJVB61W3PVNxny0yBxuF0h2rmPdRj/fFmTy980mfqFHLxMp54meDN4EEQYURDT0F0UcTH7nZgzwC09mu8lpwLEtp9E68jV+dsVS8oW24AKTN9CkwRfVnU+VuhT22+9bj2HUElZglzc0mK9lee9UEEXkCTKyQZdaz9Tgv8rAKY4zOjDYgIVSeCKsSR9dx+dylB1so2rc8+Tug0NQj/M6OtqJqLiLiBJYlMKc0gB7rrPiHn1SA9v6xaGZaEMFbiDWPgZqTYnsnu/uZcfbMyLb3OpXZK8AbG8OqfmbStD2R0j7iHdXw7oC2xB/Xs/HusDtCraCnJ+dUQSpq4gSG2w56lCMyPeaeNLO+DOn860VEnf4XcJZF4CJaAkUInZQzIwd5ATfbUyt8t+UOfPeFTT/8XFALYIz/9Cn0ees3G9RawUX2iaBpqcPS4=
  - secure: HPhDrb7Lch7LKiXxq+jAeAgamGnYqmOkrsBeRM4q/yWn5KOR61b5e9kzZTNzpVE3mxjFmQsoiUb3VWJvutuUVvizuteLqsT3EvbOzg9BsVt4O2n1rU4tmPacwFKAwaEOcWpGrvXgeetriVY3+Sf2kfYCT5hjvmI3QBmXbm+3zgDH1/5Q1woaa6FtY1C9T/kAsUMGu4hm42dN58Y1cWB2exY7FtXNxVGiKvH6cqoI+7+mMlR9HsyIB/JagyeDuyK95xiuEkek1du50eVFKViRhGG9Z5uinmU6NJZ/yqgB94ZU/yD6hR9FkQHEGt1yxWvAtWOCikk2K1wxVI1WB1ZSkf5k5k//WvLjY5z04Zm0leylyAKIlBWa28FWLEbfWPbbNUSKczPnR/K5ix/vmDAG7utYDNoixz/VCJ4oIEN+eMXMwN5sV98PJiFj2zqxOcgHzDQhxx3QImZaOYY3EtZkwOTNoTErmaOhlq7ETvirOX9KOZfTk1UnUdNzIPnp7FwOv0HfYAV1wu41JOgBMkHRcnVkbuNoB8yFRPdiMPlst1R/Nwuy3QAa/HfAIKmSNHhi5aObH8dzZS29L3ubBNMdlXYwEcmW9bq7cNUxxyZUJ1YOGubCZ0ao9rpeHT1CY26px1MNiAJQv4mVG2bHfdxz1mwcT2+9LkKUzD8SaYh6RoU=
