<orientation></orientation>

<div ng-show="valid && dependencies" style="padding-bottom: 30px;" id="content-wrapper">
    <div class="inner clearfix table-responsive">
        <table class="table">
            <tr>
                <th>Dependency</th>
                <th>Version</th>
                <th>Scope</th>
            </tr>
            <tr ng-class="animated" ng-repeat="d in dependencies | orderBy:'scope'">
                <td>{{d.artifactId | capitalize}}</td>
                <td>{{d.version}}</td>
                <td>{{d.scope}}</td>
            </tr>
        </table>
    </div>
</div>
