<div id="content-wrapper" class="homeview">
    <div class="inner clearfix">
        <div id="ajax" class="info" ng-hide="release || noaccess">
            <img src="assets/images/ajax-loader.gif" alt="Loading..." width="256px">
        </div>

        <div id="releerror" ng-show="noaccess" class="info">
            <h1>Error getting releases</h1>

            <p>Couldn't get any release because {{noaccess}}. Try again later.</p>

            <img class="img-responsive" src="assets/images/sad-face.ico" alt="sad" width="75px">
        </div>

        <div id="relecont" class="info" ng-show="release">
            <form class="search-form">
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="search" class="form-control" name="search" id="search" my-autocomplete="releasesName" placeholder="Search - i.e. {{release.tag_name | version}}">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>

            <div class="clearfix"></div>

            <section id="main-content">
                <div class="plugincard">
                    <div class="body">
                        <h2>{{release.body.title}}</h2>

                        <div class="release">
                            Released at <i>{{release.published_at | date}}</i> by <i>{{release.author.login}}</i>
                        </div>

                        <div class="clearfix"></div>

                        <h3>List of changes:</h3>
                        <ul>
                            <li ng-repeat="l in release.body.list">{{l}}</li>
                        </ul>

                        <h3>Supported versions:</h3>
                        <p ng-bind-html="release.body.versions"></p>

                        <h3>Compiled file:</h3>
                        <div class="download">
                            You can get the compiled file from <a href="{{release.assets[0].browser_download_url}}">here</a>
                        </div>
                    </div>
                </div>
            </section>

            <div class="bcontrols">
                <div class="arrow btn btn-info">Display the controls</div>
                <div class="controls">
                    <div class="show clearfix">Showing <input ng-model="show" ng-disabled="disabled" type="number" min="1" max="{{releases.length}}"> element{{(show > 1) ? "s":""}}</div>

                    <ul class="pagination" ng-class="{disabled:disabled}">
                        <span ng-show="hasBefore()" ng-click="before()" class="glyphicon glyphicon-chevron-left"></span>
                        <li ng-class="rl.class" ng-repeat="rl in block">
                            <a ng-click="optionSelected(rl.tag_name);" ng-cloak>{{ rl.tag_name | version }}</a>
                        </li>
                        <span ng-show="hasNext()" ng-click="next()" class="glyphicon glyphicon-chevron-right"></span>
                    </ul>
                </div>
            </div>

            <aside id="sidebar">
                <a href="{{release.zipball_url}}" class="button">
                    <small>Download the</small> .zip project
                </a>
                <a href="#/deps/{{ release.tag_name | version }}" class="button">
                    <small>Check out the</small> dependencies
                </a>
                <a id="javadoc" ng-show="hasJavadoc(release.tag_name | version)" href="#/jdoc/{{ release.tag_name | version }}" class="button">
                    <small>See the</small> Javadoc
                </a>
                <p class="repo-owner">
                    <a href="https://github.com/AlternaCraft/PvpTitles">PvpTitles</a> is maintained by <a href="https://github.com/AlternaCraft">AlternaCraft</a>.</p>

                <p>This page was created by <a href="https://api.github.com/users/esejuli94">esejuli94</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
            </aside>
        </div>
    </div>
</div>

<script type="application/javascript">
    if (typeof jQuery !== 'undefined') {
        var desplegado = false;

        $("html, body").click(function(e) {
            if (desplegado) {
                $(".bcontrols > .controls").slideUp("slow");
                $(".bcontrols > .arrow").fadeIn("slow");
                desplegado = false;
            }
        });

        $(".bcontrols").click(function(e) {
            if (!desplegado) {
                $(".bcontrols > .arrow").fadeOut("slow");
                $(".bcontrols > .controls").slideDown("slow");
                desplegado = true;
            }
            e.stopPropagation();
        });

        // For keeping the input open
        $(".search-form .form-group input").focusin(function(e) {
            $(".search-form .form-group").css({
                "width": "100%",
                "border-radius": "4px 25px 25px 4px"
            });
        });
        $(".search-form .form-group input").focusout(function(e) {
            $(".search-form .form-group").css("width", "");
            $(".search-form .form-group").css("border-radius", "");
        });
    }

</script>
